@tailwind preflight;

.heroimg {
    background-image: linear-gradient(to right, rgb(64, 64, 64, .3), rgb(64, 64, 64, .3)), url(bg-image.jpg);
    background-attachment: fixed;
    background-position: 50%;
}

.header {
    font-family: 'Cinzel Decorative';
    @apply font-bold
    text-7xl;
    text-shadow: 1px 1px #e6e6e6;
}

.navbar {
    font-family: 'Cinzel Decorative';
    @apply font-semibold
    text-lg text-yellow-brand;
}


a {
    text-decoration: none;
}

.bodytext {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.btntext {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 100;
}

@tailwind components;
@tailwind utilities;
